:root{ 
    --color1: rgb(212, 212, 212); 
    --color2: rgb(186, 102, 49); 
    --color3: rgb(44, 44, 44); 
    --color4: rgba(169, 169, 169, 0.67); 
    --columnwidth: 600px;
}
html{ 
    scroll-behavior: smooth;
}
a{ 
    color:var(--color2); font:und; text-decoration: none;
}
a:hover{
    color:var(--color1);
}
img{ 
    border:8px solid; border-style: groove; margin:0px; border-color:var(--color2); box-sizing: border-box; 
    
}
figure{
    position:relative; display:inline-block; margin:0px; border:0px; padding:0px;
}
figure:hover img{
    border-color:var(--color1);
}
figure:hover figcaption{
    background-color:var(--color1);
    color:var(--color2);
}
figcaption{
    text-align:center; padding:10px; left:50%; left:0%; color:var(--color1); position:absolute; top:0px; background-color:var(--color2);;   
}
body{ 
    margin:0%; border:0px; padding:0px; background-color:var(--color1); 
    font-family:sans-serif; font-weight:bold;
}
header{ 
    margin:auto; border:0px; padding:0px; background-color:var(--color3);
}
h1{ 
    margin:auto; border:0px; padding-top:30px; padding-bottom:0px; 
    text-align:center; color:var(--color1); 
}
nav{ 
    margin:auto; width:300px; display:flex; justify-content:space-between;
}
h2{ 
    color:var(--color2);

}
h2:hover{ 
    color:var(--color1);
}  
div{ 
    width:var(--columnwidth); margin:auto; margin-top:25px; border:0px; padding:25px; background-color:var(--color4); margin-bottom: 0px;
    border: solid 8px; border-color: var(--color1); border-style: groove;
}
#about{
    display:flex; justify-content: space-between;
}
#contact{ 
    display:flex; justify-content:space-around;
}
#profile{ 
    height:225px;
}
#hobbies{ 
    height:125px;
}
#school{ 
    height:78px;
}
p{ 
    text-align:center; font-size:larger; margin:20px; margin-top:0px; padding:20px; color:var(--color3); 
} 
@media screen and (max-width: 992px) {
    *{
        --color2: rgb(49, 148, 163); 
    }    
}
